@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url('http://fonts.googleapis.com/css?family=Merriweather:400,300&text="John Loeber"');

/* NAVIGATION BAR */

.topspace{
  width:751px;
  height:20px;
}

.horizontalspace{
  width:10px;
  height:120px;
  float:left;
}

.siteheader{
	font-weight: 100;
	height: 120px;
	width: 199px;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 48px;
  float:left;
}

.blockwrapper{
  width:174px;
  height:120px;
  float:left;
}

.block{
	vertical-align:middle;
	font-weight:300;
	font-size:36px;
  font-variant:small-caps;
	height:120px;
	width:174px;
	color:#000000;
	display:table-cell;
	text-align:center;
	background-color: #42a148;
}

#selected{
	background-color: #427CB8;
}

#linkblock:hover{
	font-weight: bold;
	font-size:38px;
}

/* CONTENT TABLES (PROJECTS & WRITING) */

.date{
  width:200px;
  font-weight:light;
  text-align:right;
  vertical-align:middle;
  font-size: 14px;
  color:#666666;
}

.navtitle{
  width:551px;
  font-weight:bold;
  font-size:22px;
}


/* FOOTER */

.notice {
	font-size:10px;
	color:#666666;
	text-align:center;
}

.notice a{
	font-weight:normal;
}

/* OTHER STUFF */

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-decoration:none;
	width:751px;
	margin:auto;
	float:center;
}

.body a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.main{
	position:absolute;
	top:140px;
	width:751px;
	z-index:-1;
	text-align:justify;
}

.main a{
	text-decoration:none;
	font-weight:none;
	color: #264D91;
}

.main a:visited{
	color:#751000;
}

p{
	text-align:justify;
    line-height:150%;
}

.blockquote {
    margin-left: 4em;
    margin-right: 4em;
}

/* line 211, /Users/schacon/github/progit/gitscm2/app/assets/stylesheets/typography.css.scss */
.inlineCode{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  /*display: block;*/
  padding: 1px;
  margin-bottom: 1em;
  background-color: #f5f4ef;
  border: solid 1px #efeee6;
  color: #02590B;
  /*color: #f14e32;*/
  font-family: Courier, monospace !important;
  font-weight: bold,
  /*line-height: 18px;*/
  overflow: auto;
}

atitle{
	display:inline-block;
	width:100%;
	text-align:center;
	font-size:32px;
	font-weight:bold;
}

sh{ /* subheader*/
	font-weight: bold;
	font-size: 22px;
}


/* ref. to http://css-tricks.com/almanac/properties/v/vertical-align/ */
.imghelper > *{
    vertical-align: middle;
}

/* ref. to http://www.w3.org/Style/Examples/007/center.en.html#block */
.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blockfont{
    font-variant: small-caps;
    text-decoration:none;
    color:#000000; 
}
