@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');

body{
    background-image: url(images/kandinsky85.jpg);
    background-size: auto 3100px;
	font-family: 'EB Garamond', serif;
    font-variant-emoji: text;
    font-weight: 400;
	font-size: 22px;
	text-decoration:none;
	width:100%;
	max-width: 700px;
	margin:auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #282826;
    background-position-x: center;
}

.subheader {
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-decoration: underline double 1px;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: "▸\FE0E";
    display: inline-block;
    margin-right: 0.5rem;
    font-family: 'EB Garamond', serif;
}

details[open] > summary::before {
    content: "▾\FE0E";
}

.maintable {
    border: 5px double #282826;
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom:2rem;
    background-color: #f8f7f2;
    box-sizing: border-box;
}

a:visited, a:link, a:active
{
    text-decoration: none;
    color: #2a3f8c;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

p{
	text-align:justify;
    line-height:125%;
}

ul {
    list-style-type: square;
    margin-left: .75rem;
    margin-top: .75rem;
    margin-right: .75rem;
}

img {
    height:307px;
    max-width: 100%;
    border:3px double #282826;
    object-fit: cover;
}

.yspace {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.float-right {
  float: right;
  margin: 0 0 1rem 1rem; /* adjust margins to control spacing between the image and text */
}

.bio-content {
  margin-bottom: 2rem;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  body {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    box-sizing: border-box;
  }

  .maintable {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: calc(100% - 20px);
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .float-right {
    float: right;
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 18px;
    padding: 0;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-right {
    margin-top: 0.25rem;
    float: none;
  }

  .float-right {
    float: none;
    display: block;
    margin: 0 auto 1rem auto;
    text-align: center;
  }

  .bio-content {
    margin-bottom: 2rem;
  }

  .subheader {
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 1.5rem;
  }

  .maintable {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }
}
